main .pagina__fale-conosco{
    margin-top: 2.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main .pagina__fale-conosco__div{
    background-color: var(--cor-fundo-transparente);
    height: 25.25rem;
    margin: 0 7rem 6rem 7rem;
    border-radius: 1rem;
}

main .pagina__fale-conosco h5{
    color: var(--cor-primaria);
    font-size: 0.875rem;
    font-weight: 600;
    margin: 4rem 4rem 0 4rem;
}

main .pagina__fale-conosco p{
    color: var(--cor-fonte-preto);
    font-size: 2.25rem;
    font-weight: 500;
    align-items: center;
    width: 68rem;
    padding: 1rem 4rem 0 4rem;
}

main .pagina__fale-conosco .pagina__fale-conosco__div-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 4rem 0 4rem;
}

main .pagina__fale-conosco img{
    height: 3.5rem;
    padding-bottom: 1rem;
}

main .pagina__fale-conosco .pagina__fale-conosco__span-julia{
    color: var(--cor-fonte-preto);
    font-weight: 500;
    padding-bottom: 0.25rem;
}

main .pagina__fale-conosco .pagina__fale-conosco__span-web{
    color: var(--cor-fonte-cinza);
    font-size: 0.875rem;
}